<h1>Prueba de envio de datos estáticos</h1>

<h3>Datos estáticos:</h3>
<p>




</p>

<br><br><br>
<button style="width: 100px; height: 50px" onclick="send()">Enviar datos</button>

<script src="../assets/js/Envio.js"></script>
